.menuBar {
  width: 90%;
  padding: 15px 5%;
  display: flex;
  justify-content: space-between;
  background-color: yellow;
}

.links {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.links > * {
  margin: 0 10px;
}

.blogs {
  display: flex;
}

.blogEntry {
  border: 1px solid gray;
  padding: 5px;
  margin: 5px;
  width: 250px;
  text-align: center;
  cursor: pointer;
}

.blogEntry:hover {
  background-color: aliceblue;
}

.title {
  font-weight: 800;
}