.menuBar {
  width: 90%;
  padding: 15px 5%;
  display: flex;
  justify-content: space-between;
  background-color: yellow;
}

.links {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.links > * {
  margin: 0 10px;
}